.idea/
*.iml
/out/
.gradle/
__pycache__
hs_err_*
*.swp
.venv/
/jenkins-*.war
/?
artifacts.lst
/java-goof
/build/
snyk-logs/
snyk*.properties
src/main/resources/version.txt
src/main/resources/methods.properties
