dist: bionic
sudo: false
language: java
matrix:
  include:
  - jdk: oraclejdk11
  - jdk: openjdk11
  - env:
    - DEPLOY_IT=true
    addons:
      apt:
        update: true
        packages:
          - openjdk-8-jdk-headless
script:
- java -version
- javac -version
- pyenv global 3.6
- curl $SNAPSHOT_URL > src/main/resources/methods.bundled.properties
- ./gradlew build test distZip dependencyUpdates
- make test
branches:
  only:
  - master

# cargo-culted from SO
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
  - $HOME/.m2

deploy:
  on:
    branch: master
    condition: $DEPLOY_IT = true
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: "snyk-java-runtime-agent-releases"
  skip_cleanup: true
  local_dir: build/distributions
  upload-dir: last-release
  acl: public_read

