language: java
jdk:
- oraclejdk8
- oraclejdk11
- openjdk11
script:
- ./gradlew build test distZip
- git clone --depth 1 --branch java9 https://github.com/snyk/java-goof
- e2e/test-script.sh
branches:
  only:
  - master

# cargo-culted from SO
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
  - $HOME/.m2

deploy:
  on:
    branch: master
    jdk: oraclejdk8
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: "snyk-java-runtime-agent-releases"
  skip_cleanup: true
  local_dir: build/distributions
  upload-dir: last-release
  acl: public_read

jobs:
  include:
    - stage: validate filters
      jdk: oraclejdk8
      script: 'VALIDATE_FILTERS=true ./gradlew clean processResources test'
