<!doctype html>
<html>
<head>
    <title>Snyk monitoring</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>System level reports</h3>
            <ul>
                <li><a href="/export-latest">Dump recent data</a>, as textual report.</li>
            </ul>

            <h3>Filtered data</h3>
            <ul>
                {% for vm in vms %}
                <li><a href="/view/{{ vm }}/">{{ vm }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>